html {
    background-color: #c6cebd;
}

body {
    height: 3000px;
    background-color: #c6cebd;
    margin: 0;
    padding: 0;
}

#train {
    position: fixed;
    bottom: 0;              /* Anchor to bottom */
    left: 0;                /* Anchor to left */
    width: 596px;
    height: 199px;
    background-image: url("spritesheet.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    image-rendering: pixelated;
    transform-origin: bottom left;
}
