body {
    background-color: #214128;
    margin: 0;
    padding: 0;
    color: #d2d2d2;
    text-align: center;
    font-size: 24px;
    font-family: "Calisto MT", serif;
}

body > section {
    width: 60%;
    border-radius: 20px;
    display: inline-block;
    padding: 20px 20px;
    margin: 10px;
}

body > section h1 {
    font-size: 72px;
    margin: 0;
    text-align: center;
}

body > section h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

body > section p {
    margin: 15px auto 10px auto;
}

.introduction {
    background-color: #214128;
    /*padding-bottom: 0;*/
}

.intro-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-flex-container > section {
    margin: auto 10px;
}

.introduction img {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.navbar {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 28px;
    /*border-radius: 0;*/
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    flex: 1;
    padding: 5px;
}

.navbar li a {
    text-decoration: none;
    color: #d2d2d2;
    font-weight: bold;
    transition: 0.3s;
}

.navbar li a:hover {
    color: #ffd900;
}

.about {
    text-align: left;
}

.experience {
    background-color: #4f1511;
    text-align: left;
}

.projects {
    background-color: black;
    text-align: left;
}

.contact {
    text-align: left;
}

#train {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    image-rendering: pixelated;
    transform-origin: bottom left;
    z-index: 100;
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    body > section {
        width: 85%;
        padding: 20px 20px;
    }

    body > section h1 {
        font-size: 54px;
        margin: 10px 0 0 0;
    }

    .intro-flex-container {
        flex-direction: column;
    }

    .navbar {
        font-size: 20px;
    }
}