.contact-field > input, .contact-field > textarea {
    all: unset;
    background-color: #282d41;
    border-bottom: #cccccc 3px solid;
    padding: 10px;
    text-align: left;
    transition: 0.25s;
    border-radius: 10px 10px 0 0;
    font-size: 22px;
    width: 90%;
}

.contact-field input::placeholder, .contact-field textarea::placeholder {
    color: #cccccc;
}

.contact-field textarea {
    height: 150px;
    word-wrap: break-word;
    word-break: break-word;
    margin: 20px 0;
}

.contact-field input:hover, .contact-field textarea:hover {
    border-bottom: #9b3543 3px solid;
}

.contact-field button {
    all: unset;
    padding: 10px 50px;
    background-color: #9b3543;
    border-radius: 10px;
    color: #cccccc;
    font-weight: bold;
    transition: 0.25s;
    font-size: 22px;
}

.contact-field button:hover {
    padding: 10px 55px;
    cursor: pointer;
    font-size: 26px;
}

@media screen and (max-width: 1025px) {
    .contact-field > input, .contact-field > textarea {
        font-size: 18px;
    }

    .contact-field button {
        font-size: 18px;
        padding: 10px 35px;
    }

    .contact-field button:hover {
        font-size: 20px;
        padding: 10px 40px;
    }
}